<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="OTeachingConnectionString" connectionString="Data Source=LAPTOP-83GOR2JH;Initial Catalog=OTeaching;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="OTeaching" connectionString="Data Source=LAPTOP-83GOR2JH;Initial Catalog=OTeaching;Integrated Security=True" />
  <add name="OTeachingConnectionString2" connectionString="Data Source=LAPTOP-83GOR2JH;Initial Catalog=OTeaching;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
